@charset "UTF-8";

@font-face {
    font-family: ub-m;
    src: url("./assets/fonts/Ubuntu-M.ttf");
}

@font-face {
    font-family: txl;
    src: url("./assets/fonts/SourceHanSansCN-Light.ttf");
}

@font-face {
    font-family: txb;
    src: url("./assets/fonts/SourceHanSansCN-Bold.ttf");
}